/* This is the broader area of the game */
.game-frame {
    height: 75%;
    width: 75%;
    margin: auto;
    padding: 5px;
    border: 1px solid #252525;
    background-color: #ffebcd;
}

/* Logo and Heading */
.game-header {
    height: 25%;
    width: 100%;
    position: relative;
    margin: 30px auto;
}

.heading-div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
    position: absolute;
    width: 100%;
    top: 15%;
}

.image-div {
    display: flex;
    padding-left: 50px;
    /* padding: 20px 0px 10px 10px; */
}

.image-div img {
    width: 80px;
    height: 80px;
    border-width: 1px;
    border-radius: 50%;
}

/* .heading-div .image-div {
    line-height: 10px;
} */

/* This is the game board where user competes with the computer  */
.game-board {
    height: 50%;
    width: 100%;
    position: relative;
    margin: 30px auto;
    background-color: #7fffd4;
}

.game-div {
    height: 33%;
    padding: 20px 100px;
    display: flex;
}

.img {
    width: 180px;
    height: 180px;
    border-width: 1px;
    border-radius: 50%;
    padding: 5px;
}

/* Styling for the results section */
.play-result {
    height: 33%;
    padding-left: 250px;
    display: flex;
}

.computer-choice {
    padding-left: 75px;
    padding-right: 50px;
}

.player-choice {
    padding-left: 75px;
    padding-right: 50px;
}